<!DOCTYPE html>
<html dir="auto" lang="en">
<head>
	<meta charset="UTF-8" />
	<title>VoidShare</title>

	<meta name="description" content="Simple &amp; Libre Temporary File Uploader" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="{{ url_for('static', filename='content/image/oy68d45ywsxtu63b2yib.png') }}" />

	<meta property="og:title" content="VoidShare" />
	<meta property="og:description" content="Simple &amp; Libre Temporary File Uploader" />
	<meta property="og:image" content="{{ url_for('static', filename='assets/og-image.png') }}" />

	<link rel="stylesheet" href="{{ url_for('static', filename='assets/tobi.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/style.css') }}" />

</head>
	<body>
		<main>
<header class="app__header container">
	<div class="app__logo-wrapper"> <img class="app__logo" src="{{ url_for('static', filename='content/image/46mnuaw3oyoape0h77lt.png') }}" alt="VoidShare"></div>
	<div class="app__infos">
		<h1 class="app__name">VoidShare</h1>
		<p class="app__description">Simple &amp; Libre Temporary File Uploader</p>
		<div class="app__buttons app__buttons--desktop">
			<a href="#" class="app__button-play" title="Comming soon on Google Play">
				<img src="{{ url_for('static', filename='assets/google-play-badge.png') }}" alt="Comming soon on Google Play">
			</a>
			<!-- <a href="https://www.apple.com/ios/app-store/" class="app__button-ios" target="_blank" title="Get on Appstore"> -->
			<!-- 	<img src="{{ url_for('static', filename='assets/ios-badge.svg') }}" alt="Get on Appstore"> -->
			<!-- </a> -->
			<a href="https://github.com/lastra-dev/void-share" class="app__button-web" target="_blank" title="Go Github repository">
				<img src="{{ url_for('static', filename='assets/get-it-on-github.png') }}" alt="Github link">
			</a>
		</div>
	</div>
</header>
<div class="app__buttons app__buttons--mobile container">
	<a href="#" class="app__button-play" title="Comming soon on Google Play">
		<img src="{{ url_for('static', filename='assets/google-play-badge.png') }}" alt="Comming soon on Google Play">
	</a>
	<!-- <a href="https://www.apple.com/ios/app-store/" class="app__button-ios" target="_blank" title="Get on Appstore"> -->
	<!-- 	<img src="{{ url_for('static', filename='assets/ios-badge.svg') }}" alt="Get on Appstore"> -->
	<!-- </a> -->
	<a href="https://github.com/lastra-dev/void-share" class="app__button-web" target="_blank" title="Go Github repository">
		<img src="{{ url_for('static', filename='assets/get-it-on-github.png') }}" alt="Github link">
	</a>
</div>
<section class="app__screenshots app__section">
	<div class="container">
		<h2 class="app__section-title">Screenshots</h2>
	</div>
	<div class="app__screenshots-wrapper container-desktop">
		<div class="app__screenshots-list">
			<a href="{{ url_for('static', filename='content/image/sxmtjstlaq7l7ta2wmrm.png') }}" class="lightbox">
				<img src="{{ url_for('static', filename='content/image/sxmtjstlaq7l7ta2wmrm.png') }}" class="app__screenshot" alt="" />
			</a>
			<a href="{{ url_for('static', filename='content/image/4g2rddmodteaquj7vh0j.png') }}" class="lightbox">
				<img src="{{ url_for('static', filename='content/image/4g2rddmodteaquj7vh0j.png') }}" class="app__screenshot" alt="" />
			</a>
			<a href="{{ url_for('static', filename='content/image/4y455dw38ph6y1txa3i3.png') }}" class="lightbox">
				<img src="{{ url_for('static', filename='content/image/4y455dw38ph6y1txa3i3.png') }}" class="app__screenshot" alt="" />
			</a>
			<a href="{{ url_for('static', filename='content/image/qmexjhckpc1rbj1cqa8s.png') }}" class="lightbox">
				<img src="{{ url_for('static', filename='content/image/qmexjhckpc1rbj1cqa8s.png') }}" class="app__screenshot" alt="" />
			</a>
		</div>
	</div>
</section>
<section class="app__fulldescription app__section container">
	<h2 class="app__section-title">Description</h2>
	<div class="app__fulldescription-content">
		<p>VoidShare is a simple temporary file uploader using 0x0 backend, made with Flutter 💙</p>
<p>Features:</p>
<ul>
<li>👌 Single file upload.</li>
<li>🚀 Multiple file upload with Zip compression.</li>
<li>🔭 File preview with remove option.</li>
<li>💯 Upload progress and cancel option.</li>
<li>🍯 Upload History.</li>
<li>😄 No registration.</li>
<li>😍 No ads.</li>
</ul>

	</div>
</section>
		</main>
		<footer class="footer">
			<div class="container">
				<div class="footer__container">
					<p class="footer__love">
						<script>document.write('&copy;' + (new Date()).getFullYear());</script><noscript>&copy;2022</noscript> All rights reserved
							&mdash; Template by <a href="https://www.sandoche.com" target="_blank">Sandoche</a>
					</p>
					<ul class="footer__links">
							<li class="footer__link">
								<a href="/terms">Terms</a>
							</li>
							<li class="footer__link">
								<a href="https://github.com/lastra-dev/void-share" target="_blank">GitHub</a>
							</li>
					</ul>
				</div>
			</div>
		</footer>

		<script type="text/javascript" src="{{ url_for('static', filename='assets/tobi.min.js') }}" /></script>
		<script>
			window.onload = function () {
				var tobi = new Tobi();
			};
		</script>

  </body>
</html>
